@import '../../styles/variables.scss';

.graph {
  width: 250px;
  height: 120px;
  align-items: flex-end;
  
  &__line {
    width: 32px;
    position: relative;
    border-radius: 32px;
    box-shadow: $innerShadow;
    background-color: $bgColor;
  }
  
  &__fill {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: inherit;
    background-color: $accentBlue;
  }
}
