@import './variables.scss';

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $fontFamily;
  background-color: $bgColor;
}

.wrapper {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  background-color: $bgColor;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

.grid {
  width: 745px;
  padding: 40px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 32px 40px;
}

.spaced-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.icon {
  @include size(24px);
  fill: $textColor;
}
