@import '../../styles/variables.scss';

.toggle {
  @include size(80px, $height);
  position: relative;

  &__input {
    display: none;
    
    &:checked + .toggle__switch {
      background-color: $accentBlue;
      box-shadow: 10px 10px 24px rgba($darkShadow, 0.4),
                  -8px -8px 20px rgba($lightShadow, 1);
      
      &:before { 
        left: 50%; 
      }
    }
  }

  &__switch {
    @include size($height, 32px);
    @include center;
    display: block;
    border-radius: 16px;
    box-shadow: -10px 10px 24px rgba($darkShadow, 0.4),
                8px -8px 20px rgba($lightShadow, 1);
    background-color: $bgColor;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    
    &:before {
      content: "";
      @include size(38px);
      position: absolute;
      top: 50%;
      left: -20%;
      border-radius: 100%;
      background-color: $lightShadow;
      transform: translateY(-50%);
      box-shadow: 0px 1px 2px rgba($darkShadow, 0.5);
      transition: left 300ms ease-in-out;
    }
  }
}
